body {
    padding-bottom: 20px;
}

footer {
    padding: 0 10px;
}

.navbar {
        height: auto;
        min-height: auto;
        margin-bottom: 0;
}

.navbar-default {
	background-color: #ffffff;
        border: 0;
}

.trend-positive,
.trend-negative {
    text-align: right;
}

.trend-positive h2 {
    color: green;
}

.trend-negative h2 {
    color: red;
}

.friends p {
        font-size: 14px;
        margin-bottom: 2px;
}

.friends ul {
	list-style-type: none;
	padding: 0;
}

.friends li {
	display: inline-block;
    margin: 0;
}

.welcome {
    padding-top: 100px;
    margin: 0;
}
.welcome i{
    font-size: 1.5em;
    margin-right: 5px;
}
.welcome a{
	text-decoration: none;
}
.welcome img {
    border-radius: 6px;
	width: 50px;
	margin-right: 5px;
}

.friends img {
	width: 50px;
	margin-right: 3px;
}

.navbar-brand {
    height: auto;
    padding: 5px;
}

.navbar-brand img {
    width: 200px;
}

/*.jumbotron {
        background: #daf3fa;
}
*/
.jumbotron h1 {
    color: #ef5333;
}

h2 {
    color: #009eb4;
}

.btn-primary {
    background-color: #ef5333;
    border: 0;
}

.btn-primary:active,
.btn-primary:hover {
    background-color: #ec4d2c;
}