body {
    padding-top: 50px;
}

.navbar-default {
	background-color: #ffffff;
}

.trend-positive,
.trend-negative {
        text-align: right;
}

.trend-positive h2 {
        color: green;
}

.trend-negative h2 {
        color: red;
}