body {
    padding-bottom: 20px;
}

footer {
    padding: 0 10px;
}

.container {
    position: relative;
}

.navbar {
        height: auto;
        min-height: auto;
        margin-bottom: 0;
}

.navbar-default {
	background-color: #ffffff;
    border: 0;
}

.city-indice,
.trend-positive,
.trend-negative {
    text-align: right;
}

.city-indice {
    color: #;
}

.friends p {
    font-size: 14px;
    margin-bottom: 2px;
}

.friends ul {
	list-style-type: none;
	padding: 0;
}

.friends li {
	display: inline-block;
    margin: 0;
}

.welcome {
    position: absolute;
    bottom: 20px;
    right: 0;
    margin: 0;
}

.welcome i{
    font-size: 1.5em;
    margin-right: 5px;
}

.welcome a{
	text-decoration: none;
}

.welcome img {
    border-radius: 6px;
	width: 50px;
	margin-right: 5px;
}

.welcome-logged{
    font-size: 1.5em;
}

.friends img {
	width: 50px;
	margin-right: 3px;
    border-radius: 6px;
}

.navbar-brand {
    height: auto;
    padding: 5px;
}

.navbar-brand img {
    width: 200px;
}

/*.jumbotron {
        background: #daf3fa;
}
*/
.jumbotron h1 {
    color: #ef5333;
}

h2 {
    color: #009eb4;
}

.btn-primary {
    background-color: #ef5333;
    border: 0;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover {
    background-color: #ec4d2c;
}

.col-md-12 img{
border-radius: 6px;
}
p.indice {
    font-size: 240px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    color: #009eb4;
    margin-right: 10px;
}

.city-label h2 {
    color: #ef5333;
}