body {
    padding-top: 50px;
}

.navbar-default {
	background-color: #ffffff;
}

.trend-positive,
.trend-negative {
    text-align: right;
}

.trend-positive h2 {
    color: green;
}

.trend-negative h2 {
    color: red;
}

ul {
	list-style-type: none;
}

li {
	display: inline-block;
    margin: 0 5px;
}

.welcome {
    padding: 10px;
    margin: 0;
}

.welcome img {
	width: 30px;
	margin-right: 3px;
	border-radius: 3px;
}